/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  text-align: center;
  font-family: 'Droid Serif', serif;
}

h1{
  margin-top: 20%;
  padding-left: 10%;
}

button {
  border: solid 1px rgba(0,0,0,0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  display: inline-block;
  color: #2E2E2E;
  padding: 0.8em 0.8em 0.8em 0.8em;
  margin: 0.4em 0.4em;
  background-color: #fff;
  font-weight: bold;
  font-size: .8em;
}

button:hover {
   border: solid 1px rgba(0,0,0,0.29);
}

.search-form {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 498px;
}

.search-results {
  background-color: #E28B8B;
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.form-field {
  width: 100%;
  height: 36px;
  font-size: 1.2em;
}

.smith {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 4em;
}

#s, #t {
  color: #2E2E2E;
}

#m, #h {
  color: #6E6E6E;
}

#i {
  color: #8E8D8E;
}
